<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />

    <title></title>
</head>
<body>

<div th:if="${user}">
    <p>Welcome,</p>
    <p th:text="${user}" />
</div>

<h1>Climb With Me!</h1>
<a th:unless="${user}" href="/login">Log In/Sign Up</a>
<a th:if="${user}" href="/newPost">New Post</a>
<a th:if="${user}" href="/newPartnerReq">New Partner Request</a>
<h3>Recent Blog Posts:</h3>
<table th:each="post : ${posts}" class="table">
    <tr>
        <th th:text="${post.user}">User</th>
    </tr>
    <tr>
        <td th:text="${post.body}">Post Body</td>
    </tr>
    <td>
        <a th:href="@{'/comments/view/' + ${post.id}}" th:text="Comments">Comments</a>
    </td>
</table>
<h3>Partner Requests:</h3>
<table th:each="partnerReq : ${partnerReqs}" class="table">
    <tr>
        <th>User</th>
        <th>Discipline</th>
        <th>City</th>
    </tr>
    <tr>
        <td th:text="${partnerReq.user}">User</td>
        <td th:text="${partnerReq.discipline}">Discipline</td>
        <td th:text="${partnerReq.city}">City</td>

    </tr>
</table>

</body>
</html>
