<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />

    <title></title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    Welcome, <span sec:authentication="username">Username</span>
</div>


<h1>Climb With Me!</h1>
<a href="/user/login">Log In</a>
<a href="/user/signup">Sign Up</a>
<h3>Recent Blog Posts:</h3>
<p>Coming Soon!</p>
<h3>Partner Requests:</h3>
<p>Coming Soon!</p>

</body>
</html>
