<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />

    <title></title>
</head>
<body>

<div th:if="${user}">
    <p>Welcome,</p>
    <p th:text="${user}" />
</div>

<h1>Climb With Me!</h1>
<a th:unless="${user}" href="/login">Log In/Sign Up</a>
<h3>Recent Blog Posts:</h3>
<p>Coming Soon!</p>
<h3>Partner Requests:</h3>
<p>Coming Soon!</p>

</body>
</html>
