<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments :: head">
    </head>
</head>
<body>

<nav th:replace="fragments :: nav"></nav>

<form method="post" th:object="${post}" action="/newPost">
    <div class="form-group">
        <label th:for="body" class="col-lg-1">Post body:</label>
        <div class="col-lg-3">
            <textarea class="form-control" rows="4" th:field="*{body}" />
            <span th:errors="*{body}" class="error"></span>
        </div>
    </div>

    <input type="submit" class="btn btn-success" value="Add Post" />
</form>

</body>
</html>
