<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>

<nav th:replace="fragments :: nav"></nav>

<form method="post" th:object="${comment}" action="/comments/add">
    <div class="form-group">
        <label th:for="body" class="col-lg-1">Comment body:</label>
        <div class="col-lg-3">
            <textarea th:field="*{body}" rows="3" class="form-control" id="body"/>
            <span th:errors="*{body}" class="error"></span>
            <span th:errors="*{parent}" class="error"></span>
        </div>
    </div>

    <input type="hidden" th:field="*{parent}" name="parent" />
    <input type="submit" class="btn btn-success" value="Submit Comment" />
</form>

</body>
</html>
