<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: nav" />

<div class="col-lg-6">
    <table th:object="${post}" class="table table-striped table-hover ">
        <tr>
            <th th:text="${post.user}">Parent User </th>
        </tr>
        <tr>
            <td th:text="${post.body}">Parent Body</td>
        </tr>
        <tr>
            <td><a th:href="@{'/comments/add/' + ${post.id}}">Add Comment</a></td>
        </tr>
    </table>
</div>

<div class="col-lg-4">
    <div th:if="${relevantComments}">
        <table th:each="comment : ${relevantComments}" class="table table-striped table-hover ">
            <tr>
                <th th:text="${comment.user}"></th>
            </tr>
            <tr>
                <td th:text="${comment.body}"></td>
            </tr>
        </table>
    </div>
</div>

<div th:unless="${relevantComments}">
    <h4>No Comments Yet!</h4>
</div>

</body>
</html>
