<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
    Welcome, <span sec:authentication="username">Username</span>
</div>


<p th:text="${message}">Default Message</p>
<p th:text="${error}">Default Error</p>
<form method="post"th:action="@{/user/login}">
    <div class="form-group">
        <label>Username</label>
        <input class="form-control" id="username-field" type="text" required="required" />
        <span class="error"></span>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" required="required" />
        <span class="error"></span>
    </div>

    <input type="submit" value="Log In!">

</form>
<a href="/user/signup">Sign Up!</a>
</body>
</html>
